@media screen and (max-width: 1199px) {
  #map {
    width: 95vw;
  }
}

@media screen and (min-width: 1200px) {
  #map {
    width: 50vw;
  }
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  line-height: 3rem;
}

.App > article {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 15px;
  border: 3px solid #3f51b5;

}

.App > article > p {
  text-align: justify;
  text-indent: 1.5rem;
}

.image-gallery {
width: 600px;
max-width: 80vw;
}

.image-gallery-content:not(.fullscreen) .image-gallery-image {
  width: 100%;
  max-width: 80vw;
  height: 0;
  padding-top: 75%; /* Make the image wrapping div take a ratio of 3:4 */
  position: relative;
}

.image-gallery-content:not(.fullscreen) .image-gallery-image img {
  position: absolute;
  top: 0;
  object-fit: contain;
  object-position: center center;
  width: 100%;
  height: 100%;
}

#map {
  height: 50vh;
}

.timeline time {
  background: #3f51b5;
}
