body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.developers-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.developer-card {
  width: 300px;
  height: 400px;
  box-sizing: border-box;
  margin: 30px;
  padding: 30px;
  background-color: #3f51b5;
  border-radius: 30px;
  color: aliceblue;
}

.developer-card h2 {
  text-align: center;
}

.developer-card img{
  border-radius: 10px; 
}

.developer-card a{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: aliceblue;
}

.developer-card svg{
  margin: 0 5px; 
}

.developer-card a:hover{
  color: red;
}

@media screen and (max-width: 1199px) {
  .youtube-video {
    width: 80vw;
    height: 50vw;
  }
}

@media screen and (min-width: 1200px) {
  .youtube-video {
    width: 50vw;
    height: 30vw;
  }

#map {
  width: 640px;
  height: 480px;
  max-width: 85vw;
  max-height: 40vh;
  }
}
